@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Light.woff") format("woff"), url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: semi-bold;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
p,
span {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

button span,
button p {
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input {
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

/*--------------------*/

body {
  font-family: "Poppins", "Inter";
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0px 40px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.3;
}

p {
  line-height: 1.5;
  font-weight: 500;
}

.btn {
  padding: 0px 10px;
  min-width: 240px;
  height: 52px;
  background-color: #73A7FC;
  color: #fff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 600;
  border: solid 1px #73A7FC;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.3);
}

.btn:active {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.btn--no-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--no-shadow:active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--long {
  width: 100%;
  height: 73px;
}

.btn--large {
  height: 106px;
  font-size: 40px;
  min-width: 386px;
}

.logo {
  display: block;
}

.logo img {
  height: 100%;
  width: 100%;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  margin: 0px 10px;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.socials a img {
  width: 100%;
  height: 100%;
}

.stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stores a {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 173px;
          flex: 0 1 173px;
  margin-right: 20px;
}

.stores a:last-child {
  margin-right: 0;
}

.stores a img {
  width: 100%;
}

.user-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.user-location__flag {
  margin-right: 10px;
}

.user-location > span {
  font-size: 18px;
  font-weight: 500;
}

.reasons-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3), 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3), 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reasons-item h3 {
  margin-bottom: 16px;
}

.reasons-item__text {
  max-width: 291px;
}

.requirement-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px;
}

.requirement-item:last-child {
  margin-bottom: 0;
}

.requirement-item__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: linear-gradient(220deg, #FFF -1.71%, rgba(170, 170, 170, 0.47) 23.88%, rgba(97, 120, 112, 0.37) 88.59%, rgba(255, 255, 255, 0) 113.29%);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3), 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3), 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}

.requirement-item h4 {
  margin-bottom: 7px;
}

.request-item {
  position: relative;
  max-width: 680px;
}

.request-item img {
  position: absolute;
  top: 68%;
  right: 10%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.request-item__wrapper {
  position: relative;
  z-index: 1;
}

.request-item h3 {
  margin-bottom: 13px;
}

.request-item p {
  font-weight: 400;
}

.blog-item {
  border-radius: 20px;
  border: 0.9px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin-bottom: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog-item:last-child {
  margin-bottom: 0;
}

.blog-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 20px;
}

.blog-item__img img {
  width: 100%;
  height: 100%;
}

.blog-item h4 {
  margin-bottom: 5px;
}

.blog-item__text {
  margin-bottom: 20px;
}

.blog-item .more {
  font-size: 18px;
  color: #828282;
  font-weight: 600;
  border-bottom: 1px solid #828282;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.cities-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 30px;
  margin-bottom: 15px;
}

.cities-item a {
  color: inherit;
  font-size: 18px;
}

.cities-item h5 {
  color: #7AB870;
  font-weight: 700;
  border-bottom: 1px solid #7AB870;
  margin-bottom: 10px;
}

.cities-item > a {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 300;
}

.accordion-item {
  margin-bottom: 30px;
}

.accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Inter";
  cursor: pointer;
}

.accordion-item__title p {
  font-weight: 600;
}

.accordion-item__title svg path {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.accordion-item__title.active svg path:first-child {
  opacity: 0;
}

.accordion-item__body {
  padding-left: 30px;
  height: 0;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.accordion-item__body > div {
  padding-top: 25px;
}

.header__wrapper {
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 25px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header nav a {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.first-screen {
  background: rgb(255, 239, 194);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffefc2), color-stop(97%, #fff));
  background: linear-gradient(180deg, #ffefc2 40%, #fff 97%);
  padding: 85px 0px;
}

.first-screen__wrapper {
  position: relative;
}

.first-screen h1 {
  margin-bottom: 23px;
}

.first-screen__text {
  max-width: 784px;
  margin-bottom: 57px;
}

.first-screen__text p {
  font-weight: 400;
}

.first-screen__range {
  width: 100%;
  margin-bottom: 27px;
}

.first-screen__content {
  max-width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 47px;
}

.first-screen__content .btn {
  margin-bottom: 30px;
}

.first-screen__content > p {
  margin-bottom: 20px;
}

.first-screen__content .stores {
  margin-bottom: 30px;
}

.first-screen .bg-people {
  position: absolute;
  bottom: -12px;
  right: 88px;
}

.range {
  max-width: 680px;
  padding-bottom: 21px;
}

.range__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.range__input {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.4) inset;
          box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.4) inset;
  border-radius: 10px;
  min-width: 180px;
  height: 52px;
  font-size: 36px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.range__input input {
  width: 89px;
  text-align: center;
}

.range__slider {
  -webkit-box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.4) inset;
          box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.4) inset;
  border-radius: 10px;
  background: #FFF;
  height: 20px;
  width: 100%;
  position: relative;
}

.range__slider button {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 42px;
  height: 76px;
}

.range__slider button img {
  -o-object-position: left;
     object-position: left;
  position: absolute;
  top: 0;
  left: -37px;
}

.about {
  padding-top: 52px;
}

.about h2 {
  margin-bottom: 3px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about__text {
  max-width: 834px;
  margin-bottom: 30px;
}

.about__text p {
  line-height: 1.4;
  margin-bottom: 10px;
}

.reasons {
  padding-top: 88px;
}

.reasons h2 {
  margin-bottom: 42px;
}

.reasons__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1280px;
  padding: 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.requirements {
  padding-top: 98px;
}

.requirements h2 {
  margin-bottom: 53px;
}

.request {
  padding-top: 144px;
}

.request__wrapper {
  position: relative;
}

.request h2 {
  margin-bottom: 150px;
}

.request__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.request__row .person-bg {
  position: relative;
  z-index: 2;
}

.request__row .ellipse {
  position: absolute;
  width: 777px;
  top: -26%;
  left: -27%;
  height: 777px;
  background-color: #FFDA72;
  border-radius: 50%;
}

.request__row .arrow {
  position: absolute;
  right: 8%;
  bottom: -27px;
}

.request__row:first-child .request-item {
  margin-top: 21px;
}

.request__row:nth-child(2n) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -112px;
}

.request__row:nth-child(2n) .ellipse {
  left: auto;
  top: 5%;
  right: -30%;
}

.request__row:nth-child(2n) .person-bg {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.request__row:nth-child(2n) .request-item {
  margin-bottom: 100px;
  -webkit-transform: translateX(90px);
      -ms-transform: translateX(90px);
          transform: translateX(90px);
}

.request__row:nth-child(2n) .request-item__wrapper {
  -webkit-transform: translateX(38px);
      -ms-transform: translateX(38px);
          transform: translateX(38px);
}

.request__row:nth-child(2n) .request-item img {
  right: -20%;
}

.request__row:nth-child(2n) .arrow {
  right: auto;
  left: 5%;
  bottom: auto;
  top: 54%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.request__row:nth-child(3) .request-item__wrapper {
  -webkit-transform: translate(-76px, -29px);
      -ms-transform: translate(-76px, -29px);
          transform: translate(-76px, -29px);
}

.request__row:nth-child(3) .request-item img {
  right: 4%;
}

.request__row:nth-child(3) .ellipse {
  top: -14%;
  left: -37%;
}

.request__row:nth-child(3) .arrow {
  bottom: auto;
  top: 47%;
  right: 4%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.request__btn {
  position: absolute;
  bottom: 30px;
  right: 19%;
}

.request__btn .btn {
  margin-left: auto;
}

.faq {
  padding-top: 50px;
}

.faq h2 {
  text-align: center;
  margin-bottom: 43px;
}

.faq__content {
  border-radius: 20px;
  border: 0.9px solid #E5E5E5;
  background: #FFF;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 30px;
  counter-reset: num;
}

.faq__content .accordion-item__title p::before {
  content: counter(num) ".";
  counter-increment: num;
  display: inline-block;
  margin-right: 5px;
}

.blog {
  padding-top: 100px;
}

.blog h2 {
  text-align: center;
  margin-bottom: 40px;
}

.cities {
  background-attachment: fixed;
  background-image: url("../img/cities-bg.png");
  padding: 62px 0px;
  margin-top: 56px;
}

.cities h2 {
  color: #fff;
  margin-bottom: 50px;
}

.cities__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1101px;
  margin: 0 auto;
}

@media (min-width: 901px) {
  .btn:hover {
    background-color: #88b4fc;
  }

  .btn--no-shadow:hover {
    background-color: transparent;
    color: #73A7FC;
  }

  .socials a:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  .blog-item .more:hover {
    color: #73A7FC;
    border-color: #73A7FC;
  }

  .header nav a:hover {
    color: #73A7FC;
  }
}